<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>无纸化集中业务管理系统</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		@@include('url-config.html')
	</head>
	<body class="bg-info">

		<div class="layui-card layui-card-margin ">

			<form class="ag-form layui-form" ag-data-index="0">

				<div class="param-left">

					<div class="layui-inline ">
						<label class="layui-form-label">工号：</label>
						<div class="layui-input-block">
							<input type="text" name="loginNoStr" autocomplete="off" placeholder="工号" class="layui-input">
						</div>
					</div>

				</div>


			</form>

			<!--xiacj 说明:注意按钮工具栏不要放到form表单中,查询ajax请求和出发form表单提交,导致url方式变化,导致ajax请求状态为canceld-->
			<div class="btns-right">

					<button class="ag-btn-query layui-btn layui-btn-sm layui-btn-normal"  ag-data-index="0"  ag-data-url="/sys/login/queryCLoginMsgPage">
						<i class="layui-icon layui-icon-search "></i>
						<span class="btn-span-middle">查询</span>
					</button>

										<button class="ag-btn-reset layui-btn layui-btn-sm layui-btn-normal" ag-data-index="0" type="reset" >

						<i class="layui-icon layui-icon-refresh "></i>
						<span class="btn-span-middle">重置</span>
					</button>


			</div>

		</div>




		<div class=" layui-card  layui-card-list" >

			<div class="layui-border-box ">

				<div class="layui-table-tool">
					<div class="layui-table-tool-temp">
						<div class="layui-table-tool-temp">
							<div class="ag-btn-add layui-inline" lay-event ag-data-index="0" ag-win-id="0" ag-win-width="800" ag-win-height="600"
							 ag-win-title="工号新增" ag-data-url="/views/login/loginAdd.html"><i class="layui-icon layui-icon-add-1"></i></div>
							<div class="ag-btn-update layui-inline" lay-event ag-data-index="0" ag-win-id="0" ag-win-width="800"
							 ag-win-height="600" ag-win-title="工号修改" ag-data-pk="loginNoStr" ag-data-url="/views/login/loginUpdate.html"><i class="layui-icon layui-icon-edit"></i></div>
							<div class="ag-btn-del layui-inline" lay-event ag-data-index="0" ag-data-pk="loginNoStr" ag-data-url="/sys/login/deleteLoginMsg"><i
								 class="layui-icon layui-icon-delete"></i></div>
						</div>
					</div>

				</div>

			</div>

			<div style="display:none" class="ag-table-header" ag-data-index="0">

			    [
			      [
			        {
			          "type": "radio",
			          "fixed": "left"
			        },{
			          "field": "loginNoStr",
			          "title": "工号" 
			         
			        }, {
			          "field": "loginNameStr",
			          "title": "工号名称"
			        }, {
			          "field": "account4a",
			          "title": "4A账号"
			        },  {
						"width": 220,
						"title": "操作",
						"fixed": "right",
						"btns": [

							{
								"className": "",
								"openTitle":"角色赋权",
								"btnVal":"角色赋权",
								"url": "/views/sysLoginRole/sysLoginRoleInit.html?loginNo=@loginNoStr@&loginName=@loginNameStr@",
								"openType": "1"
								}
							]
					}
			      ]
			    ]
			</div>
			<table class="ag-table layui-hide" id="demo" lay-filter="test" ag-data-index="0">

			</table>

			<div class="pagging ag-area-page">

			</div>

		</div>

		<script>

		</script>
	</body>
</html>
