.layui-form-label{
    width:120px;
   
}
.layui-form-item{
    margin-bottom:2px;
}
.layui-form-item .layui-input-inline{
    width:200px;
}
.layui-form-item .layui-inline {
    // width:auto;
}
// form{
//     padding-top:20px;     
// }
.mt20{
    padding-top:20px;    
}
.left{
    width:auto;
}