 
  <div class="layui-inline">
    <label class="layui-form-label">@@title：</label>
    <div class="layui-input-inline">
      <input disabled="disabled"  type="tel" name="@@name" lay-verify="@@verify" autocomplete="off"  @@if (context.class) { class="layui-input @@name @@class" } @@if (!context.class) { class="layui-input @@name" } @@if (context.ignore) { ignore="@@ignore" } @@if (!context.ignore) { ignore="2" }>
    </div>
    <div class="left">
      <button type="button" @@if (context.deepN){deepN="true"} class="layui-btn layui-btn-sm @@choice">选择</button>
      <button type="button" class="layui-btn layui-btn-sm cleanInput">清空</button>
    </div>
  </div>
 